--extra-index-url https://download.pytorch.org/whl/cpu
pandas
numpy
openpyxl
scikit-learn
torch==2.14.0
torchvision==0.29.0
segmentation-models-pytorch
fastapi
uvicorn
pydantic
python-multipart
pillow
opencv-python
matplotlib
albumentations
xarray
netCDF4
pyarrow